# Node dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
*.tmp
*.pid
*.seed
*.pid.lock

# Build / Output (optional)
dist/
build/

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/extensions.json

# Jetbrains IDE
.idea/